<p>hello world</p>
<input id="timefall" type=text value="time"><button onclick="myFunction()">submit</button>

<script>
  var t = document.getElementById(timefall)
  var g = 9.8

  function myFunction() {
    return 0.5 * g * (t)
  }
</script>
